.container{
    position: relative;
    margin-bottom: 3%;
    border-radius: 30px;
    border: 3px solid black;
    width: 15%;
    background-color: #faf8f8;
    opacity: 0.8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;    
}

.top{
    width: 100%;
}

.stats {
    width: 100%;
}

.stat{
    display: flex;
    justify-content: center;
    align-items: center;
}

.types{
    position: relative;
    top: -10px;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-content: center;
}