.loadingPage {
    width: 100vw;
    height: 100vh;
}

.mainFlex {

    background: url(../img/Home/Home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    width: auto;
    align-items: center;
    padding: 20px 0;
    height: 1400px;
}

.sectionFlex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-items: center;
}

.filters {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.selects {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.select {
    padding: 8px 12px;
    color: #333333;
    background-color: #faf8f8;
    border: 1px solid #dddddd;
    cursor: pointer;
    border-radius: 5px;
}

.select:focus,
.select:hover {
    outline: none;
    border: 1px solid #bbbbbb;
}

.select option {
    background-color: #faf8f8;
}

.refreshButton {
    background-color: transparent;
    border: none;
}

.refreshButton:hover {
    transform: scale(1.1);
    transform: rotate(360deg);
}

.loading {
    position: absolute;
    left: 800px;
    top: 400px;
}