.container {
    background-color: rgb(250, 153, 26);
    height: 100vh;
}

.container_img {
    position: absolute;
    width: 180px;
    left: 1%;
    bottom: 0%;
    margin: 0%;
}

.container_div1 {
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 1370px) {

    .container_h1 {
        position: absolute;
        letter-spacing: 60px;
        font-size: 200px;
        left: 36%;
        bottom: 30%;
    }

    .container_h1 img {
        position: absolute;
        width: 38%;
        top: 20%;
        left: 24%;

    }

    .container_h2 {
        position: absolute;
        font-size: 50px;
        bottom: 25%;
        left: 28.5%;

    }
}

@media screen and (max-width: 735px) {

    .container_h1 {
        left: 20%;
    }

    .container_h2 {
        left: 5%;
    }
}

@media screen and (max-width: 583px) {

    .container_h1 {
        letter-spacing: 40px;
        font-size: 150px;
        left: 20%;
        bottom: 40%;
    }

    .container_h1 img {
        top: 25%;
        left: 25%;

    }

    .container_h2 {
        position: absolute;
        font-size: 30px;
        bottom: 30%;
        left: 12%;

    }
}